Options -Indexes 
ErrorDocument 404 /404.php

<IfModule mod_php5.c>
  php_flag allow_call_time_pass_reference 1
  php_flag session.use_trans_sid off

  #php_value display_errors 1

  #php_value mbstring.internal_encoding UTF-8
</IfModule>

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On

  RewriteBase /

  RewriteCond %{REQUEST_URI} ^(.*?)\/{2,}(.*?)$
  RewriteRule . %1/%2 [L,R=301]
  RewriteCond %{THE_REQUEST} //
  RewriteRule .* /$0 [R=301,L]

  RewriteCond %{REQUEST_URI} !(.*)/$
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_URI} !\..+$
  RewriteRule ^(.*)$ $1/ [L,R=301]

  RewriteRule ^index\.php$ / [R=301,L]
  RewriteRule ^(.*)/index\.php$ /$1/ [R=301,L]
 
  RewriteRule ^index\.html$ / [R=301,L]
  RewriteRule ^(.*)/index\.html$ /$1/ [R=301,L]

  RewriteRule ^index\.htm$ / [R=301,L]
  RewriteRule ^(.*)/index\.htm$ /$1/ [R=301,L]

  RewriteRule ^home\.htm$ / [R=301,L]
  RewriteRule ^(.*)/home\.htm$ /$1/ [R=301,L]

  RewriteRule ^home\.html$ / [R=301,L]
  RewriteRule ^(.*)/home\.html$ /$1/ [R=301,L]


  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
  RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
  RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
</IfModule>
