.job_list ul {
    list-style-type: none;
	margin: 20px 0 0 0;
	padding: 0px;
}

.job_list li {
    padding-left: 40px;
	margin-bottom: 10px;
}

.job_list li:before {
    content: "—";
    position: absolute;
    margin-left: -20px;
}