.bx-filter .bx-filter-popup-result {
	display: none;
}

.bx-filter-popup-result span {
	font-weight: 500;
}

.bx-filter .bx-filter-block {
	margin-bottom: 15px;
}

.bx-filter .bx-filter-popup-result-close {
	display: none;
}

.bx-filter .filter-btn-cont {
	display: flex;
    gap: 5px;
	margin-top: 15px;
	padding-top: 30px;
	border-top: var(--bs-border-width) solid var(--bs-border-color);
}

.bx-filter #del_filter {
	margin-right: 15px;
}

.bx-filter-popup-result i {
	position: relative;
    margin: 0 5px;
    top: 6px;
}

.bx-fblock.checkbox {
	display: flex;
    gap: 5px;
}

.bx-filter input, .bx-filter-select-block {
    height: 48px;
    border-radius: var(--border-radius);
    color: #222;
    font-size: 15px;
    font-weight: 300;
    padding: 0 19px;
    border: var(--bs-border-width) solid var(--bs-border-color);
	width: 100%
}
.bx-filter input[type="checkbox"] {
    height: 20px;
	width: 20px;
	appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 0;
	padding: 0;
}

.bx-filter input[type="checkbox"]:checked {
    background-color: var(--color-blue);
}

.bx-filter input[type="checkbox"]:checked::after {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
	color: #fff;
	content: "\e5ca";
}

.bx-filter input:focus, .bx-filter-select-block:active {
	border-color: var(--color-blue);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

.bx-filter-parameters-box-container {
	display: flex;
	gap: 1.5vw;
}

.bx-filter .bx-fblock {
	flex-grow: 1;
	text-align: center;
}

.bx-filter-select-text {
    font-size: 15px;
    font-weight: 300;
    line-height: 35px;
	white-space: nowrap;
    overflow: hidden;
}

.bx-filter-parameters-box-title {
    margin-bottom: 5px;
	font-size: 15px;
}

.bx-filter-select-popup {
	background: #fff;
	padding: 0;
	min-width: 173px;
}
.bx-filter-select-popup ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.bx-filter-select-popup ul li {
	display: block;
	text-align: left;
	vertical-align: middle;
}
.bx-filter-select-popup ul li:first-child {
	border-bottom: var(--bs-border-width) solid var(--bs-border-color);
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.bx-filter-select-popup ul li label {
	line-height: 1;
	display: block;
	text-align: left !important;
	overflow: hidden;
	box-sizing: border-box;
	width: 100%;
	padding: 15px 10px;
	cursor: pointer;
	vertical-align: middle;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #575757;
	font-family: "Fira Sans Condensed", serif !important;
	font-size: 15px;
	font-weight: 300;
}
.bx-filter-select-popup ul li label.selected,
.bx-filter-select-popup ul li label:hover {
	color: #000;
	background: #f3f8fa;
}
.bx-filter-select-popup ul li label.disabled {
	color: #b8b8b8;
	background: transparent;
}
.bx-filter-select-popup ul li .bx-filter-param-text {
	line-height: 34px !important;
}


@media (max-width: 575.98px) {
	.bx-filter .filter-btn-cont { flex-direction: column; gap: 10px; }
	.bx-filter #del_filter { margin-right: 0; }
}
@media (min-width: 575.99px) and (max-width: 767.98px) {
	.bx-filter-parameters-box-container { gap: 1.25vw;}
}
@media (min-width: 767.99px) and (max-width: 991.98px) {
	.bx-filter-parameters-box-container { gap: 1vw;}
}
@media (min-width: 991.99px) and (max-width: 1199.98px) {
	.bx-filter-parameters-box-container { gap: 0.75vw;}
}
@media (min-width: 1199.99px) {
	.bx-filter-parameters-box-container { gap: 0.5vw;}
}