.footer_menu {
}

.footer_menu a {
	text-decoration: none;
}

.footer_menu .li1 a {
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
}

.footer_menu .li2 a {
	text-transform: none;
	color: #eee;
	font-size: 16px;
	font-weight: 300;
}

.footer_menu .fsub1 {
	margin: 10px 0 0 0;
}

.footer_menu, .footer_menu ul {
	list-style: none;
	padding-inline-start: 0;
}

.footer_menu .li1 {
	margin: 0 0 25px 0;
	break-inside: avoid;
	page-break-inside: avoid;
}

.footer_menu i {
	display: none;
}

.footer_menu ul .li2 {
	margin: 0 0 15px 0;
}

.footer_menu li a:hover {
	color: var(--color-green);
}

.footer_contacts {
	margin-top: 30px;
}

.footer_menu .fsub1.subcols2 {
	column-count: 2;
    column-gap: 25px;
    column-fill: balance;
}

.footer_menu.subcols0 {
	columns: unset;
}

@media (max-width: 575.98px) {
	.footer_menu { margin: 0px; }
	.footer_menu .fsub1.subcols2 { columns: unset !important; }
	.footer_menu li.li1 {
		border-bottom: 1px solid #ffffff1a;
		padding: 15px 0;
		margin: 0px !important;
	}
	.footer_menu i { display: inline-block; }
	.footer_menu a {
		align-items: center;
		display: flex;
		gap: 20px;
		justify-content: space-between;
	}
	.fsub1 { display: none; }
}
@media (min-width: 575.99px) and (max-width: 767.98px) {
	.footer_menu .fsub1.subcols2 { column-count: 3; }
	.footer_menu.subcols0 { column-count: 3; column-gap: 25px; column-fill: balance; }
}
@media (max-width: 991.98px) {

}
@media (max-width: 1199.98px) {

}