.elem-poselok .label {
	display: flex;
    gap: 6px;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.elem-poselok .bk {
    background-color: var(--color-green);
    display: inline-block;
    color: #fff;
    font-weight: 500;
    padding: 5px 10px 4px 10px;
    border: 3px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
	border-radius: var(--border-radius);
}

.elem-poselok .izs {
    background-color: var(--color-blue);
    display: inline-block;
    color: #fff;
    font-weight: 500;
    padding: 5px 10px 4px 10px;
    border: 3px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
	border-radius: var(--border-radius);
}

.elem-poselok .price_ot {
    font-weight: 400;
    margin-top: 20px;
    line-height: 20px;
    font-size: 22px;
	margin-bottom: 5px;
	border-bottom: var(--bs-border-width) solid var(--bs-border-color);
	padding-bottom: 15px;
	display: inline-block;
	color: #b2b2b2;
	text-transform: uppercase;
    letter-spacing: 1px;
}

.elem-poselok .price_ps {
	display: block;
	font-weight: 400;
	color: #b2b2b2;
}

.elem-poselok .price_ot span {
    font-size: calc(1.325rem + 1.5vw);
	font-weight: 500;
}

.elem-poselok .opts, .elem-poselok .popts {
	display: flex;
}

.elem-poselok .opt, .elem-poselok .popt {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
	margin-right: 30px;
	margin-top: 15px;
}

.elem-poselok .copt {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
	margin-top: 0;
	margin-bottom: 20px;
}

.elem-poselok .opt .big, .elem-poselok .copt .big {
    font-weight: 400;
	color: var(--color-blue);
	margin-bottom: 7px;
	white-space: nowrap;
	font-size: 18px;
}

.elem-poselok .popts .opt .big {
	color: #b2b2b2;
}

.elem-poselok .popts .opt .big {
	white-space: normal;
	line-height: 1;
	margin-top: 10px;
}

.elem-poselok .opt .big span, .elem-poselok .copt .big span {
    font-size: calc(1rem + 2.25vw);
    font-weight: 500;
}

.elem-poselok .popts .opt .big span {
	font-size: calc(1rem + 1.5vw);
	font-weight: 500;
}

.elem-poselok .opt.hr {
    background-color: #fff;
	margin-left: 10px;
    width: 0px;
    margin-right: 40px;
    margin-top: 15px;
    height: 55px;
    border-right: var(--bs-border-width) solid var(--bs-border-color);
}

.elem-poselok .price {
    margin-top: 20px;
}

.elem-poselok .placement {
    font-size: 23px;
    font-weight: 400;
    margin-top: 5px;
    line-height: 1.25;
}

.elem-poselok .sold_out {
	font-size: 23px;
    color: #ccc;
    font-weight: 400;
}

.elem-poselok .h3 {
	margin-top: 20px;
}

.elem-poselok .h2 {
	margin-top: 30px;
}

.elem-poselok .infra {
    color: var(--color-blue);
	margin-top: 15px;
}

.elem-poselok .icn {
	position: relative;
	margin: 10px 50px 0 0;
}

.elem-poselok .icn:last-child {
	margin-right: 0;
}

.elem-poselok .icn_i {
    text-align: center;
}

.elem-poselok .icn_i .mso {
	font-size: 31px;
}

.elem-poselok .icn_t {
	margin-top: 7px;
    text-align: center;
    font-weight: 400;
    color: #333;
}

.elem-poselok #map_lands {
	margin-top: 20px;
	box-shadow: 0 15px 25px rgb(0 0 0 / 20%);
}

.elem-poselok #map_location {
	box-shadow: 0 15px 25px rgb(0 0 0 / 20%);
}

.elem-poselok .cards .h2 {
	margin: 0 0 20px 0;
}

.elem-poselok .cards .inner {
    padding: 0 50px;
}

.elem-poselok .cards {
	padding-top: 30px;
	padding-bottom: 30px;
}

.elem-poselok .cards .slogan {
	margin-bottom: 25px;
}

.elem-poselok .cards  .frame.grey_form {
	margin-bottom: 0;
}

.elem-poselok .cards .rdata, .elem-poselok .cards .rdataall {
	margin: 15px 0;
    line-height: 1.25;
    color: #777;
}

.elem-poselok .cards .rdataall {
	text-align: justify;
	line-height: 1.5;
	margin-top: 25px;
}

.elem-poselok .cards .yandexbtn > a > i{
    position: relative;
    margin-right: 5px;
    top: 5px;
}

.gradprice_cont {
    width: 100%;
}

.gradprice_bar {
	height: 30px;
	border-radius: var(--border-radius);
	overflow: hidden;
}

.row.gradprice_bar {
    margin: 0px;
}

.gradprice_bar .col {
	height:100%;
	padding: 0 !important;
}

.gradprice_bar. col {
	height:100%;
	padding: 0 !important;
}

.gradprice_cont .caption {
	font-weight: 400;
}

.gradprice_cont .caption .pdedizm {
    font-size: 14px;
    white-space: nowrap;
    font-weight: 300;
}

.gradprice_cont .dots {
	height: 10px;
	margin-top: 10px;
}

.row.dots, .row.caption  {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.row.dots .col, .row.caption .col {
	padding: 0 !important;
}

.gradprice_cont .leftdot {
	border-left: 1px solid #a2a2a2;
	width: 100%;
	height: 100%;
}
.gradprice_cont .rightdot {
	border-right: 1px solid #a2a2a2;
	width: 100%;
	height: 100%;
}

.gradprice_cont .centerdot {
	border-right: 1px solid #a2a2a2;
	width: 50%;
	height: 100%;
}

.gradprice_cont .caption {
	margin-top: 3px;
	color: #a2a2a2;
}

.gradprice_cont .text-left {
    text-align: left !important;
}

.gradprice_cont .text-right {
    text-align: right !important;
}

.textcard .descr p {
	text-align: left;
}

.gradprice_cont .caption .sale-text-mini {
	font-size: 14px;
	color: #ff0200;
}

.gradprice_cont .caption .old-price {
	text-decoration: line-through;
	font-weight: 300;
}

.baloon .infoline {
	overflow: visible !important;
}

@media (min-width: 767.98px) {
	.yandexbtn { display: none; }
}


@media (max-width: 575.98px) {
	.elem-poselok .textcard { margin-top: 0px; padding-bottom: 40px;}
	.elem-poselok > div > div.order-md-1 { padding-left: 15px; }
	.elem-poselok .address { font-size: 16px; }
	.elem-poselok a.button { padding: 0 20px; }
	.elem-poselok .opt { font-size: 14px; margin-right: 15px;}
	.elem-poselok .opt.hr { width: 0px; margin-right: 15px; height: 35px; }
	.elem-poselok .icn { margin: 10px 40px 0 0; }
	.elem-poselok .cards .h2, .elem-poselok h2, .elem-poselok .h2 { text-align: center; }
	.elem-poselok .cards .inner { padding: 0; }
	.elem-poselok .opt .big { font-size: 16px; }
}
@media (min-width: 575.99px) and (max-width: 767.98px) {
	.elem-poselok .textcard { margin-top: 0px; padding-bottom: 40px;}
	.elem-poselok > div > div.order-md-1 { padding-left: 15px; }
	.elem-poselok a.button { padding: 0 35px; }
	.elem-poselok .opt.hr { height: 50px; }
	.elem-poselok .opt .big span { font-size: calc(1rem + 3.25vw); }
	.elem-poselok .cards .h2, .elem-poselok h2, .elem-poselok .h2 { text-align: center; }
	.elem-poselok .price_ot span { font-size: calc(1.325rem + 2.5vw); }
}
@media (min-width: 767.99px) and (max-width: 991.98px) {
	.elem-poselok .icn { margin: 10px 40px 30px 0; }
	.elem-poselok a.button { padding: 0 10px; }
	.elem-poselok .opt { font-size: 14px; margin-right: 15px;}
	.elem-poselok .opt.hr { width: 0px; margin-right: 15px; height: 35px; }
	.elem-poselok .opt .big span { font-size: calc(1rem + 1.5vw); }
	.elem-poselok .cards .inner { padding: 0 20px; }
	.elem-poselok .opt .big { font-size: 16px; }
}
@media (min-width: 991.99px) and (max-width: 1199.98px) {
	.elem-poselok a.button { padding: 0 20px; }
	.elem-poselok .opt { margin-right: 20px;}
	.elem-poselok .opt.hr { width: 0px; margin-right: 20px; height: 45px; }
	.elem-poselok .opt .big span { font-size: calc(1rem + 2vw); }
}
@media (min-width: 1199.99px) and (max-width: 1299.98px) {
	.elem-poselok a.button { padding: 0 25px; }
	.elem-poselok .opt { margin-right: 20px;}
	.elem-poselok .opt.hr { width: 0px; margin-right: 20px; height: 50px; }
	.elem-poselok .opt .big span { font-size: calc(1rem + 2vw); }
}
@media (min-width: 1299.99px) and (max-width: 1399.98px) {
	.elem-poselok .opt { margin-right: 25px;}
	.elem-poselok .opt.hr { width: 0px; margin-right: 25px; height: 55px; }
	.elem-poselok a.button { padding: 0 30px; }
	.elem-poselok .opt.hr { height: 60px; }
}
@media (min-width: 1399.99px)  {
	.elem-poselok a.button { padding: 0 40px; }
	.elem-poselok .opt.hr { height: 70px; }
}
